<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" name="" id="nome" placeholder="Nome">
    <input type="text" name="" id="msg" placeholder="MSG">
    <button onclick="envia()">Enviar msg</button>
    <div id="msgs"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">

        var socket = io();
        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
            
        });

        function envia(){
            var value = document.querySelector('#msg').value
            var nome = document.querySelector('#nome').value
            data = {
                name: nome,
                msg: value
            }
            socket.emit('msg', data)
            value.value = ""

        }

        socket.on('resp',function(resp){

            nome = resp.name
            msg = resp.msg 

            var getchat = document.querySelector('#msgs');
            var novo = document.createElement('span');
            novo.innerHTML = `<b>${nome}: </b>${msg} <br>`
            getchat.append(novo)
        })

        window.addEventListener('keypress', (key) =>{
            if (key.keyCode == 13){
                envia()
               document.querySelector('#msg').value = null
            }
        });

    </script>
</body>
</html>