<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arquivo Python Blablabla</title>
</head>
<body>
    <form action="/perfil" method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" id="email"><br>
        <label for="nome">Nome</label>
        <input type="text" name='nome' id="nome"><br>
        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha"><br><br>
        <select name="escolha" id="">
            <option value="html">HTML</option>
            <option value="java">JAVA</option>
            <option value="css">CSS</option>
            <option value="python">PYTHON</option>
        </select>
        <p>Deseja  receber emails? 
            <input type="checkbox" name="emails" id="check">        
            <label for="check">Sim</label><br></p>
        
        <input type="radio" name="sexo" id="m" value='Masculino'>
        <label for="m">Masculino</label><br>
        <input type="radio" name="sexo" id="f" value='Feminino'>
        <label for="f">Feminino</label><br>
        <input type="radio" name="sexo" id="fo" value='Foguete da SpaceX'>
        <label for="fo">Foguete da SpaceX</label><br><br>
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>